<template>
    <div>
        <header>
            <div id="navigation">
                <div>
                    <div id="refresh" v-on:click="refresh">Refresh</div>
                    <div id="addition" v-on:click="addUser">Add new User</div>
                </div>
                <div>
                    <div id="logout" class="purple-btn" v-on:click="logout"><span>Logout</span></div>
                </div>
            </div>
        </header>

        <div id="user-list">
            <UserCard v-for="user in users" v-bind:user="user" v-bind:key="user.id"></UserCard>
        </div>

       <UserEdit v-if="isModalActive" v-bind:user="newUser" v-bind:addition="isAddition"></UserEdit>
    </div>
</template>
<script>
  import UserCard from '@/components/UserCard.vue';
  import UserEdit from '@/components/UserEdit.vue';

  // for server-side communication
  // const axios = require('axios');

  // test sample
  const users_data = [
      {
          id: 1
          ,login: 'test1'
          , password: '111'
          , rights: 'Admin'
          , ban: false
          , imgSrc: 'https://picsum.photos/id/237/100/100'
      }
      , {
          id: 2
          ,login: 'test2'
          , password: '1141'
          , rights: 'User'
          , ban: false
          , imgSrc: 'https://picsum.photos/id/227/100/100'
      }
      , {
          id: 3
          ,login: 'test5'
          , password: '1141'
          , rights: 'User'
          , ban: true
          , imgSrc: ''
      }
      , {
          id: 5
          ,login: 'World1'
          , password: '333'
          , rights: 'User'
          , ban: true
          , imgSrc: ''
      }
  ];

  export default {
    name: 'UserList',
    components: {
        UserCard
        , UserEdit
    }
    , data: function () {
          return {
              users: []
              , newUser: {
                  login: ''
                  , password: ''
                  , rights: 'Admin'
                  , imgSrc: ''
                  , ban: false
              }
              , isModalActive: false
              , isAddition: true
          }
      }
      , methods: {
          logout: function () {
              this.$router.push('/');
              this.$store.commit('logout');

              // axios.post('/logout', {});
          }
          , refresh: function () {
              // send request to server
              // this.getAllUsers();

              // test samples update
              this.users = [];
              this.$nextTick(() => {
                  this.users = users_data.slice();
              });
          }
          , getAllUsers: function () {
              // get users data from server
              // axios.post('/get-users', {}).then(function (response) {
              //     if (response.data.users.length) {
              //         this.$nextTick(() => {
              //             try {
              //                 this.users = JSON.parse(response.data.users);
              //             } catch (error) {
              //                 console.error(error)
              //             }
              //       });
              //     }
              //   }).catch(function (error) {
              //       console.error(error);
              //   });
          }
          , addUser: function () {
              this.isModalActive = true;
              this.isAddition = true;
              this.newUser = {
                  login: ''
                  , password: ''
                  , rights: 'Admin'
                  , imgSrc: ''
                  , ban: false
              };
          }
      }
      , mounted: function () {
          // send request to server
          // this.getAllUsers();

          // test samples
          this.users = users_data.slice();

          this.$on('edit', (user) => {
              this.isModalActive = true;
              this.newUser = user;
              this.isAddition = false;
          });

          this.$on('saveUser', (user) => {
              this.users.push(user);
          });

          this.$on('closeModal', () => {
              this.isModalActive = false;
          });
      }
  }
</script>
<style lang="scss">
    header {
        height: 70px;
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        background-color: #fff;
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
    }
    #navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        & > div:first-child {
            display: flex;
            flex-direction: row;
            padding: 0 20px 0 0;
            box-sizing: border-box;
            font-size: 18px;
            color: #556aea;
            transition: .3s;
            & > div {
                padding: 0 10px;
                box-sizing: border-box;
                cursor: pointer;
                &:hover{
                    color: #4356c8;
                }
                &:active {
                    color: #3b4aa6;
                }
            }
        }
    }
    #user-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: start;
        width: 100%;
        max-width: 940px;
        padding: 0 20px 50px;
        box-sizing: border-box;
        margin: 50px auto 0;
    }
    #logout.purple-btn {
        margin: 0;
    }
    @media screen and (max-width: 940px) {
        #user-list {
            justify-content: center;
        }
    }
    @media screen and (max-width: 380px) {
        #navigation >  div:first-child {
            flex-wrap: wrap;
        }
        #addition {
            margin: 10px 0 0;
        }
    }
</style>