<template>
    <div class="user-wrapper">
        <div class="user" v-bind:class="{ banned: user.ban }">
            <div class="img-wrapper" v-bind:data-letter="user.login[0]" v-bind:class="{ nosrc: user.imgSrc == '' }">
                <img v-bind:src="user.imgSrc">
            </div>
            <div class="edit-btn" v-on:click="edit"><span>Edit</span></div>
            <div class="info">
                <div>
                    <span>Login:</span>
                    <span>{{ user.login }}</span>
                </div>
                <div>
                    <span>Password:</span>
                    <span>{{ user.password }}</span>
                </div>
                <div>
                    <span>Rights:</span>
                    <span>{{ user.rights }}</span>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'UserCard',
        props: ['user'],
        methods: {
            edit: function () {
                this.$parent.$emit('edit', this.$options.propsData.user);
            }
        }
    }
</script>
<style lang="scss">
    .user-wrapper {
        display: inline-block;
        width: 100%;
        max-width: 300px;
        padding: 20px;
        box-sizing: border-box;
    }
    .user {
        padding: 20px;
        box-sizing: border-box;
        border-radius: 3px;
        background-color: #fff;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
        &.banned {
            border: 2px solid #ff2f2f;
        }
        .img-wrapper {
            position: relative;
            height: 100px;
            width: 100px;
            margin: 0 auto;
            border-radius: 50%;
            background-color: #ffe5f5;
            &.nosrc:before {
                content: attr(data-letter);
                position: absolute;
                width: 100%;
                left: 0;
                font-size: 30px;
                line-height: 100px;
                color: #556aea;
                text-align: center;
                text-transform: capitalize;
            }
            & > img {
                border-radius: 50%;

                &[src=''] {
                    display: none;
                }
            }
        }
        .edit-btn {
            width: 100%;
            margin: 10px 0 0;
            user-select: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            & > span {
                font-size: 18px;
                font-weight: 600;
                color: #3d95cc;
                cursor: pointer;
                transition: .3s;
                &:hover {
                    color: #0075c7;
                }

                &:active {
                    color: #3cafff;
                }
            }
        }
        .info {
            width: 100%;
            margin: 20px 0 0;
            & > div {
                text-align: left;
                & > span {
                    display: inline-block;
                }
                & > span:first-child {
                    min-width: 85px;
                    padding: 0 10px 0 0;
                    font-weight: 600;
                }
            }
            & > div:not(:last-child) {
                margin: 0 0 5px;
            }
        }
    }
</style>