<template>
    <div id="modal-wrapper" v-on:click="closeModal($event)">
        <form>
            <div id="close" v-on:click="close"></div>
            <span v-if="addition">Add User Info</span>
            <span v-else>Update User Info</span>
            <div id="images-picker-wrapper">
                <div id="images-picker">
                    <input type="radio" name="img" id="img-1" v-model="editableUser.imgSrc"
                           value="https://picsum.photos/id/238/100/100">
                    <label for="img-1">
                        <img src="https://picsum.photos/id/238/100/100">
                    </label>

                    <input type="radio" name="img" id="img-2" v-model="editableUser.imgSrc"
                           value="https://picsum.photos/id/237/100/100">
                    <label for="img-2">
                        <img src="https://picsum.photos/id/237/100/100">
                    </label>

                    <input type="radio" name="img" id="img-3" v-model="editableUser.imgSrc"
                           value="https://picsum.photos/id/228/100/100">
                    <label for="img-3">
                        <img src="https://picsum.photos/id/228/100/100">
                    </label>

                    <input type="radio" name="img" id="img-4" v-model="editableUser.imgSrc" value="">
                    <label for="img-4" class="no-background" v-bind:data-letter="editableUser.login.value[0]"></label>
                </div>
            </div>
            <input type="text" placeholder="Login" class="field" v-bind:class="{ error: editableUser.login.error }"
                   v-model="editableUser.login.value" v-on:click="clearError(editableUser.login)">
            <input :type="showPassword ?  'text' : 'password'" placeholder="Password" class="field"
                   v-bind:class="{ error: editableUser.password.error }" v-model="editableUser.password.value"
                   v-on:click="clearError(editableUser.password)">
            <input type="checkbox" id="show" v-on:click="showPassword = !showPassword" class="checkbox">
            <label for="show"><span>Show password</span></label>
            <select class="field" v-model="editableUser.rights">
                <option value="Admin" selected>Admin</option>
                <option value="User">User</option>
                <option value="Guest">Guest</option>
            </select>
            <input type="checkbox" id="banned" v-on:click="editableUser.ban = !editableUser.ban" class="checkbox"
                   v-model="editableUser.ban">
            <label for="banned"><span>Ban</span></label>

            <div v-if="notification.show" v-bind:class="notification.type" id="notification">
                <span>{{ notification.message }}</span>
            </div>

            <div v-if="addition" class="purple-btn" v-on:click="save"><span>Save</span></div>
            <div v-else class="purple-btn" v-on:click="update"><span>Update</span></div>
        </form>
    </div>
</template>
<script>
    export default {
        name: 'UserEdit',
        props: ['user', 'open', 'addition']
        , data: function () {
            return {
                showPassword: false
                , notification: {
                    show: false
                    , type: ''
                    , message: ''
                }
                , editableUser: {
                    login: {
                        value: ''
                        , error: false
                    }
                    , password: {
                        value: ''
                        , error: false
                    }
                    , rights: 'Admin'
                    , imgSrc: ''
                    , ban: false
                }
            }
        }
        , mounted: function () {
            this.$nextTick(function () {
                this.$set(this.editableUser, 'login', {
                    value: this.user.login
                    , error: false
                });
                this.$set(this.editableUser, 'password', {
                    value: this.user.password
                    , error: false
                });
                this.$set(this.editableUser, 'rights', this.user.rights);
                this.$set(this.editableUser, 'imgSrc', this.user.imgSrc);
                this.$set(this.editableUser, 'ban', this.user.ban);
            });
        }
        , methods: {
            edit: function () {
                this.$parent.$emit('edit', this.$options.propsData.user);
            }
            , save: function () {
                if (!this.editableUser.login.value) {
                    this.editableUser.login.error = true;
                    this.showNotification('error', 'Login shouldn\'t be empty');
                    return;
                }

                if (!this.editableUser.password.value) {
                    this.editableUser.password.error = true;
                    this.showNotification('error', 'Password shouldn\'t be empty');
                    return;
                }

                this.$parent.$emit('saveUser', {
                    login: this.editableUser.login.value
                    , password: this.editableUser.password.value
                    , rights: this.editableUser.rights
                    , imgSrc: this.editableUser.imgSrc
                    , ban: this.editableUser.ban
                });

                this.showNotification('success', ' User has been added successfully');

                // send user data to server
                // axios.post('/save-user', {
                //     login: this.editableUser.login.value
                //     , password: this.editableUser.password.value
                //     , rights: this.editableUser.rights
                //     , imgSrc: this.editableUser.imgSrc
                //     , ban: this.editableUser.ban
                // }).then(function (response) {
                //     if (response.data.success) {
                //          this.$parent.$emit('saveUser', {
                //              login: this.editableUser.login.value
                //              , password: this.editableUser.password.value
                //              , rights: this.editableUser.rights
                //              , imgSrc: this.editableUser.imgSrc
                //              , ban: this.editableUser.ban
                //          });
                //     }
                // }).catch(function (error) {
                //     console.log(error);
                // });

                this.clearUser();
            }
            , update: function () {
                this.showNotification('success', ' User has been updated successfully');

                this.$set(this.user, 'login', this.editableUser.login.value);
                this.$set(this.user, 'password', this.editableUser.password.value);
                this.$set(this.user, 'rights', this.editableUser.rights);
                this.$set(this.user, 'imgSrc', this.editableUser.imgSrc);
                this.$set(this.user, 'ban', this.editableUser.ban);

                // send user data to server
                // axios.post('/update-user', {
                //     login: this.editableUser.login.value
                //     , password: this.editableUser.password.value
                //     , rights: this.editableUser.rights
                //     , imgSrc: this.editableUser.imgSrc
                //     , ban: this.editableUser.ban
                // }).then(function (response) {
                //     if (response.data.success) {
                //          this.$parent.$emit('saveUser', {
                //              login: this.editableUser.login.value
                //              , password: this.editableUser.password.value
                //              , rights: this.editableUser.rights
                //              , imgSrc: this.editableUser.imgSrc
                //              , ban: this.editableUser.ban

                //          });
                //     }
                // }).catch(function (error) {
                //     console.log(error);
                // });
            }
            , close: function () {
                this.$parent.$emit('closeModal');
                this.clearUser();
                this.hideNotification();
            }
            , closeModal: function (event) {
                if (event.target.id == 'modal-wrapper') {
                    this.close();
                }
            }
            , showNotification: function (type, message) {
                this.notification.show = true;
                this.notification.type = type;
                this.notification.message = message;
            }
            , hideNotification: function () {
                this.notification.show = false;
                this.notification.type = '';
                this.notification.message = '';
            }
            , clearError: function (field) {
                field.error = false;
                this.hideNotification();
            }
            , clearUser: function () {
                this.$set(this.editableUser, 'login', {
                    value: ''
                    , error: false
                });
                this.$set(this.editableUser, 'password', {
                    value: ''
                    , error: false
                });
                this.$set(this.editableUser, 'rights', 'Admin');
                this.$set(this.editableUser, 'imgSrc', '');
                this.$set(this.editableUser, 'ban', false);
            }
        }
    }
</script>
<style lang="scss">
    @mixin user-select() {
        user-select: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
    }
    #modal-wrapper {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        padding: 20px;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, .4);
        font-size: 0;
        text-align: center;
        white-space: nowrap;
        z-index: 1;
    }
    #close {
        position: absolute;
        height: 35px;
        width: 35px;
        top: 0;
        right: 0;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAQAAAC00HvSAAAAUklEQVR42mMgBEbBKBgFzNjESDckjEEKVQjIDyPeIISmOCDGwqfAIASbAoMQhlBikD7YEAqBPkMaEAMB3V1DOGzoH1OE0w3lqZgeeWoUjIJRAADKkQuzW9XR5wAAAABJRU5ErkJggg==');
        background-repeat: no-repeat;
        cursor: pointer;
        transition: .2s;
        &:hover {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAQAAAC00HvSAAAAUklEQVR42mMgBEbBKBgFrNjESDdkOoMumpguUIywQRialgIxFj4FBiHYFBiEMIQSg4LBhlAIghk2AzEQ0N01hMOG/jFFON1QnorpkadGwSgYBQBFcBR08hVymAAAAABJRU5ErkJggg==');

        }
        &:active {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAQAAAC00HvSAAAAV0lEQVR42u3TsQ3AIAwAwa+8kxnJY3oGZsgcqaMULxoqXwfFC4HBjDHC91zQJF9Jn4eSTf7WRkIe8ZBHzGJTHnHFQ2FEymku3I291IW58SleNHHjT40xXvYHGikSi3RvAAAAAElFTkSuQmCC');
        }
    }
    #modal-wrapper > form {
        position: relative;
        display: inline-block;
        width: 100%;
        max-width: 600px;
        padding: 40px;
        box-sizing: border-box;
        box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.3);
        z-index: 2;
        background-color: #fff;
        & > span {
            display: block;
            width: 100%;
            margin: 0 0 20px;
            font-size: 16px;
            text-align: left;
        }
        .field {
            display: block;
            height: 40px;
            width: 100%;
            padding: 0 10px;
            box-sizing: border-box;
            border-radius: 3px;
            border: 1px solid #e3e3e3;
            font-size: 14px;
            color: #000;
            outline: none;
            &:not(:last-child) {
                margin: 0 0 10px;
            }
            &.error {
                border: 1px solid #ff2f2f;
            }
        }
    }
    .checkbox {
        display: none;
        & + label {
            position: relative;
            display: block;
            width: 100%;
            margin: 0 0 10px;
            padding: 0 0 0 30px;
            font-size: 14px;
            line-height: 21px;
            text-align: left;
            @include user-select;
            &:before,
            &:after {
                content: '';
                position: absolute;
                display: inline-block;
                height: 20px;
                width: 20px;
                top: 0;
                left: 0;
            }
            &:before {
                box-sizing: border-box;
                border-radius: 3px;
                border: 1px solid #d5d5d5;
                background: #f9f9f9;
            }
            &:after {
                background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNMCAwaDE2djE2SDB6Ii8+PC9kZWZzPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yIC0zKSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48bWFzayBpZD0iYiIgZmlsbD0iI2ZmZiI+PHVzZSB4bGluazpocmVmPSIjYSIvPjwvbWFzaz48cGF0aCBzdHJva2U9IiMwNzk4RTMiIHN0cm9rZS13aWR0aD0iMiIgbWFzaz0idXJsKCNiKSIgdHJhbnNmb3JtPSJyb3RhdGUoNDUgNy44NTcgNi4wNDIpIiBkPSJNMTAuMDc0IDEuMTI4djkuODI5SDUuNjQiLz48L2c+PC9zdmc+');
                background-repeat: no-repeat;
                background-position: center;
                opacity: 0;
                transition: .3s
            }
            & > span {
                cursor: pointer;
            }
        }
        &:checked + label:after {
            opacity: 1;
        }
    }
    #images-picker-wrapper {
        margin: 0 0 20px;
    }
    #images-picker {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        text-align: left;
        & > input {
            display: none;
        }
        & > input:checked + label:after {
            content: '';
            position: absolute;
            display: block;
            height: 100px;
            width: 100px;
            top: 0;
            left: 0;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, .7);
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMAAAADABAMAAACg8nE0AAAAJFBMVEUAAAB2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnbHhOwYAAAAC3RSTlMAgDXw7jISzrxnGxbSK+oAAAE8SURBVHja7dShTUYBEAThxxMkuN8joQE0GoWhC4pA0wctkOCuOeSGbIK6QZCZBi7fiT3MzMzMzMzMzP5vHwfb+XCw3c3lIDsf5/MgCmAYQgDDEAKACAEwhAA4QgAhQIAQGEAIECAHGEBeJECAAAECBAgQIECAAAECBPwJ4PodBrx+vbCAt3liATMhMIAJgQGEAAFCYAAhQIAQGEAIECAEAHAzEwIyo7cTAjKjV78TzucC7BLuC7BA2AM0AQAUYRXQBABQhFVAEwBAEVYBTQAARVgFNAEANKEBmwQAUIQC7BIAQBEKsEsowDqhANuEnwCAsA0IIQVAEABACAAgBAgQAgQIgQKEAAFCoAAhQIAQKEAIECAEChACBAiBAoQAAUKgACFAgBAoQAgQIAQKEAIECOFymJmZmZmZmdlG3wviAOxasSYQAAAAAElFTkSuQmCC');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 50px;
        }
        & > label {
            position: relative;
            display: inline-block;
            height: 100px;
            width: 100px;
            margin: 5px;
            box-sizing: border-box;
            border-radius: 50%;
            vertical-align: bottom;
            cursor: pointer;
            img {
                border-radius: 50%;
            }
            &.no-background {
                position: relative;
                background-color: #ffe5f5;

                &:before {
                    content: attr(data-letter);
                    position: absolute;
                    display: block;
                    width: 100%;
                    left: 0;
                    font-size: 30px;
                    line-height: 100px;
                    color: #556aea;
                    text-align: center;
                    text-transform: capitalize;
                }
            }
        }
    }
    #notification {
        &.error,
        &.success {
            margin: 20px 0 0;
            box-sizing: border-box;
            font-size: 14px;
            text-align: left;
        }
        &.error {
            color: #ff2f2f;
        }
        &.success {
            color: #27ac39;
        }
    }
    @media screen and (max-width: 360px) {
        #images-picker-wrapper {
            width: 100%;
            overflow-x: scroll;
            overflow-y: hidden;
        }
        #images-picker {
            justify-content: flex-start;
            min-width: 440px;
        }
        #images-picker-wrapper::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }
        #images-picker-wrapper::-webkit-scrollbar {
            width: 12px;
            background-color: #F5F5F5;
        }
        #images-picker-wrapper::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            background-color: #556aea;
        }
    }
</style>