<template>
  <div id="app">
    <!--<div id="nav">-->
    <!--<router-link to="/">Home1</router-link> |-->
    <!--</div>-->
    <router-view></router-view>
  </div>
</template>

<style lang="scss">
  /* Begin reset styles */
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
    font-family: 'Verdana', sans-serif;
    font-weight: 300;
    overflow-y: scroll;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: "";
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  a {
    text-decoration: none;
  }
  a:active,
  a:hover,
  *:focus {
    outline: 0;
  }
  button,
  html input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
  }
  html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
  }
  /* End reset styles */
  html,
  body,
  .home {
    min-height: 100%;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #content {
    min-height: 100%;
    width: 100%;
    margin-bottom: -50px;
  }
  body {
    min-width: 300px;
    background-color: #f7f4ff;
  }
  #app {
    height: 100%;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #000;
  }
</style>
